<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create an Invoice</title>
  <script type="importmap">
    {
      "imports": {
        "vue": "https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
  <script type="module">
    import { createApp, ref } from 'vue'
    createApp({
      setup() {
        // const config = JSON.parse(<?= JSON.stringify($config) ?>);
        const data = ref([
          ['text', 'First', true],
          ['password', 'Second', false],
          ['text', 'Third', true]
        ]);

        const inputs = ref(Array(data.value.length).fill(''));

        function sendData() {
          
        }

        return {
          data,
          inputs,
          sendData
        }
      }

    }).mount('#app')
  </script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <div id="app" class="grid place-content-center mt-12">
    <form  class="flex flex-col gap-4">
      <div v-for="(row, index) of data" class="flex flex-col w-96">
        <label :for="row[1]" class="text-lg ml-1 font-semibold">{{ row[1] }}</label>
        <input v-model="inputs[index]" :type="row[0]" :name="row[1]" :required="row[2]" class="p-4 rounded-lg flex items-center justify-center border-2 border-purple-500 shadow-lg focus:outline-indigo-500">
      </div>
      <button @click.prevent="sendData" class="p-4 rounded-lg flex items-center justify-center bg-purple-500 shadow-lg text-violet-100 text-xl">Submit</button>
    </form>
  </div>
</body>
</html>