<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script type="module" defer>
      import { createApp, ref } from "vue";
      createApp({
        setup() {
          const purchaseOrderId = ref("");
          const validationError = ref(false);
					const searchError = ref(false);
          const duplicateError = ref(false);
          const success = ref(false);
					const loading = ref(false);
          const successMsg = ref('');

          function reset() {
            purchaseOrderId.value = "";
            error.value = false;
            success.value = false;
          }

          function setFlags() {
              searchError.value = false;
							validationError.value = false;
              success.value = false;
              duplicateError.value = false;
              loading.value = true;
          }

          function handleResult(result) {
            if (result.name) {
							validationError.value = false;
              success.value = false;
              duplicateError.value = false;
              loading.value = false;
              searchError.value = true;
              return;
            }

            if (result) {
              duplicateError.value = false;
              loading.value = false;
              validationError.value = false;
              searchError.value = false;
              successMsg.value = purchaseOrderId.value;
              success.value = true;
              return;
            }

            loading.value = false;
						searchError.value = false;
            validationError.value = false;
            success.value = false;
            duplicateError.value = true;
          }

          function startSearch() {
            setFlags();
            google.script.run
              .withSuccessHandler(handleResult)
              .checkPurchaseOrderAsins(purchaseOrderId.value);
          }


          function readValidation(validationResult) {
            if (!validationResult) {
              validationError.value = true;
              return;
            }
            startSearch();
          }


          function handleSearch() {
            google.script.run.withSuccessHandler(readValidation).validation("Purchase Order ID", purchaseOrderId.value);
          }

          return {
            purchaseOrderId,
						validationError, 
						duplicateError,
						searchError,
            successMsg,
						success,
						loading,
            handleSearch,
          };
        },
      }).mount("#app");
    </script>
  </head>
  <body class="bg-indigo-50">
    <div id="app" class="">
      <div class="h-screen flex flex-col justify-center items-center gap-4">
				<div>
        <label :for="purchaseOrderIdInput" class="text-lg ml-1 font-semibold">Purchase Order ID:</label>
        <input
          v-model="purchaseOrderId"
          :type="text"
          :name="purchaseOrderIdInput"
          class="w-64 h-6 p-4 rounded-lg flex items-center justify-center border-2 border-purple-500 shadow-lg outline-none focus:border-indigo-500" />
				</div>
				<button
          @click="handleSearch"
          class="p-4 rounded-lg flex items-center justify-center bg-purple-500 shadow-lg text-violet-100 text-xl focus:bg-indigo-500">
          Check for Duplicates
        </button>
				<div class="flex flex-col items-center">
					<div v-if="searchError" class="text-red-500 text-md font-semibold leading-none">This purchase order ID was not found.</div>
					<div v-if="loading" class="text-purple-500 text-md font-semibold leading-none">Loading . . .</div>
					<div v-if="validationError" class="text-red-500 text-md font-semibold leading-none">Please enter a valid purchase order ID.</div>
					<div v-if="duplicateError" class="text-red-500 text-md font-semibold leading-none">This purchase order ID already exists.</div>
					<div v-if="success" class="text-emerald-500 text-sm font-semibold leading-none">{{ successMsg }} contains no duplicate ASINS ✓</div>
				</div>
      </div>
    </div>
  </body>
</html>
