<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <style>
      ::-webkit-scrollbar {
        width: 0.5rem;
      }
      ::-webkit-scrollbar-track {
        background-color: #eef2ff;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: #94a3b8;
        border-radius: 10px;
      }
    </style>
    <script type="module" defer>
      import { createApp, ref } from "vue";

      const data = [
        [
          "2023-12-04T08:00:00.000Z",
          "",
          "",
          "",
          "",
          "10-00084",
          "Nimrod",
          false,
          "Case: Missing Item - Not On invoice",
          "TOMFTALI ECOMMERCE LLC",
          "TOMFTALI ECOMMERCE LLC",
          "Nassau Candy",
          "Jonathan.Votypka@nassaucandy.com",
          "Jonathan",
          "email order",
          "31902",
          41269203849,
          "",
          "B00A5VI538",
          721,
          "B00A5VI538_721",
          "",
          "CANDY COAL-DBL CRISP- 3.4OZ    *P",
          "",
          "",
          "",
          54,
          "",
          54,
          1.64,
          "",
          "",
          88.55999999999999,
          "#DIV/0!",
          918,
          "10-00084",
          2450.6,
          155,
          2605.6,
          "",
          "",
          0,
          0,
          0,
          0,
          "",
          0,
          0,
          0.44279999999999997,
          89.0028,
          "#DIV/0!",
          "#DIV/0!",
          "Move To Accepted",
          "Copy to Here",
          "Paid-Vendor Confirmed",
          "2023-12-05T08:00:00.000Z",
          "Vendor Shipped",
          "2023-12-19T08:00:00.000Z",
          "",
          "LTL - Pick Up",
          359385,
          "",
          "",
          "",
          "",
          "Yes - Added",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
        ],
        // [
        //   "2023-12-02T08:00:00.000Z",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "10-00084",
        //   "Nimrod",
        //   false,
        //   "Case: Missing Item - On invoice",
        //   "TOMFTALI ECOMMERCE LLC",
        //   "TOMFTALI ECOMMERCE LLC",
        //   "Nassau Candy",
        //   "Jonathan.Votypka@nassaucandy.com",
        //   "Jonathan",
        //   "email order",
        //   "943334",
        //   853665005633,
        //   "",
        //   "B08GFKLHLD",
        //   717,
        //   "B08GFKLHLD_717",
        //   "",
        //   "MARY'S GONE-CRACKERS-REAL THIN-OO/BLK PEPPR-5OZ",
        //   "1:1 ",
        //   6,
        //   6,
        //   6,
        //   "",
        //   6,
        //   3.39,
        //   6,
        //   6,
        //   20.34,
        //   3.39,
        //   918,
        //   "10-00084",
        //   2450.6,
        //   155,
        //   2605.6,
        //   "",
        //   "",
        //   0,
        //   0,
        //   1.0130718954248366,
        //   6.078431372549019,
        //   "",
        //   0,
        //   3,
        //   0.13209215686274509,
        //   29.550523529411763,
        //   4.92508725490196,
        //   1.5350872549019603,
        //   "Move To Accepted",
        //   "Copy to Here",
        //   "Paid-Vendor Confirmed",
        //   "2023-12-05T08:00:00.000Z",
        //   "Vendor Shipped",
        //   "2023-12-19T08:00:00.000Z",
        //   "",
        //   "LTL - Pick Up",
        //   359385,
        //   "",
        //   "",
        //   "",
        //   "",
        //   "Yes - Added",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        // ],
        // [
        //   "2023-12-02T08:00:00.000Z",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "10-00084",
        //   "Nimrod",
        //   false,
        //   "Case: Missing Item - On invoice",
        //   "TOMFTALI ECOMMERCE LLC",
        //   "TOMFTALI ECOMMERCE LLC",
        //   "Nassau Candy",
        //   "Jonathan.Votypka@nassaucandy.com",
        //   "Jonathan",
        //   "email order",
        //   "20355",
        //   31290092253,
        //   "",
        //   "B002VLJY8U",
        //   718,
        //   "B002VLJY8U_718",
        //   "",
        //   "GODIVA-BAR-CHOCOLATIER-MK CHOC-SOLID-1.5OZ",
        //   "Multi-Pack",
        //   4,
        //   9,
        //   96,
        //   "",
        //   36,
        //   2.19,
        //   4,
        //   9,
        //   78.84,
        //   8.76,
        //   918,
        //   "10-00084",
        //   2450.6,
        //   155,
        //   2605.6,
        //   "",
        //   "",
        //   0,
        //   0,
        //   0.6753812636165577,
        //   6.078431372549019,
        //   "",
        //   0,
        //   4.5,
        //   0.4245921568627451,
        //   89.84302352941177,
        //   9.982558169934642,
        //   1.2225581699346417,
        //   "Move To Accepted",
        //   "Copy to Here",
        //   "Paid-Vendor Confirmed",
        //   "2023-12-05T08:00:00.000Z",
        //   "Vendor Shipped",
        //   "2023-12-19T08:00:00.000Z",
        //   "",
        //   "LTL - Pick Up",
        //   359385,
        //   "",
        //   "2023-12-26T08:00:00.000Z",
        //   36,
        //   "",
        //   "Yes - Added",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        // ],
        // [
        //   "2023-11-23T08:00:00.000Z",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "10-00084",
        //   "Nimrod",
        //   false,
        //   "Case: Ungate",
        //   "every store needs ungating",
        //   "every store needs ungating",
        //   "Nassau Candy",
        //   "Jonathan.Votypka@nassaucandy.com",
        //   "Jonathan",
        //   "email order",
        //   "958938",
        //   "1 9141401421 6",
        //   "",
        //   "B0BS8PH3SJ",
        //   "",
        //   "B0BS8PH3SJ_",
        //   "",
        //   "JUST THE FUN PART-MINI WF CONES PB/MLK-4.23OZ",
        //   "1:1",
        //   18,
        //   18,
        //   18,
        //   "",
        //   18,
        //   4.07,
        //   18,
        //   18,
        //   73.26,
        //   4.07,
        //   918,
        //   "10-00084",
        //   2450.6,
        //   155,
        //   2605.6,
        //   "",
        //   "",
        //   0,
        //   0,
        //   3.0392156862745097,
        //   54.705882352941174,
        //   "",
        //   0,
        //   9,
        //   0.6398294117647059,
        //   137.6057117647059,
        //   7.6447617647058825,
        //   3.5747617647058822,
        //   "Move To Accepted",
        //   "Copy to Here",
        //   "Paid-Vendor Confirmed",
        //   "2023-12-05T08:00:00.000Z",
        //   "Vendor Shipped",
        //   "2023-12-19T08:00:00.000Z",
        //   "",
        //   "LTL - Pick Up",
        //   359385,
        //   "",
        //   "2023-12-26T08:00:00.000Z",
        //   18,
        //   "",
        //   "Pending",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        //   "",
        // ],
      ];

      const show = ref(false);
      function asdf() {
        show.value = !show.value;
      }

      const show2 = ref(false);
      function handleDone() {
        console.log(show2.value);
        if (!show.value) show2.value = !show2.value;
        console.log(show2.value);
      }
      createApp({
        setup() {
          return {
            data,
            asdf,
            show,
            handleDone,
            show2,
          };
        },
      }).mount("#app");
    </script>
  </head>
  <body class="bg-indigo-50 w-screen h-screen grid place-items-center">
    <div id="app" class="">
      <div
        v-if="false"
        class="h-screen w-screen bg-indigo-50 absolute top-0 left-0 z-10"></div>
      <h2 class="text-2xl">Purchase order ID: {{ data[0][5] }}</h2>
      <div v-for="row in data" class="flex flex-col text-xl">
        <div class="my-4">
          <p>Item name: {{ row[22] }}</p>
          <p>Expected quantity: {{ row[28] }}</p>
          <div v-if="show">
            <div>
              <label class="mr-2" for="">Inbound date:</label>
              <input type="date" class="border-2 border-gray-600" />
            </div>
            <div>
              <label class="mr-2" for="">Quantity received:</label>
              <input type="number" class="border-2 border-gray-600" />
            </div>
          </div>
          <div class="flex items-center">
            <label for="">Arrived with no problems:</label>
            <input type="checkbox" @click="asdf" class="w-6 h-6 ml-2" />
          </div>
        </div>
      </div>
      <input
        type="button"
        class="bg-blue-400 w-32 h-12 rounded-xl"
        @click="handleDone"
        value="Done" />
      <div v-if="show2" class="mt-4">
        <p>Purchase order owner: {{ data[0][6] }}</p>
        <p>Asin: {{ data[0][18] }}</p>
        <div>
          <label class="mr-2" for="">Quantity received:</label>
          <input type="number" class="border-2 border-gray-600" />
        </div>
        <div>
          <label class="mr-2" for="">Message for purchase order owner:</label>
          <input type="text" class="border-2 border-gray-600" />
        </div>
        <input
          type="button"
          class="bg-blue-400 h-12 rounded-xl px-4"
          value="Email the purchase order owner" />
      </div>
    </div>
  </body>
</html>
