<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <style>
      ::-webkit-scrollbar {
        width: 0.5rem;
      }
      ::-webkit-scrollbar-track {
        background-color: #eef2ff;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: #94a3b8;
        border-radius: 10px;
      }
    </style>
    <script type="module" defer>
      import { createApp, ref } from "vue";

      createApp({
        setup() {
          const dataStructure = ref([
            {
              name: "Client Name",
              workingCapitalLimit: 100,
              balance: 70,
              stores: [
                {
                  id: 1,
                  inventory: [
                    {
                      asin: "B00XWZLJ32",
                      name: "Corelle Square Simple Lines 10.25” Dinner Plate (Set of 4)",
                      price: 27.98,
                    },
                    {
                      asin: "B00GY4AIJ4",
                      name: '4-3/4"WHT Dip Mini Dish (Pack of 6)',
                      price: 32.2,
                    },
                  ],
                  sales: 3000,
                  profitSplit: 0.5,
                },
                {
                  id: 2,
                  inventory: [
                    {
                      asin: "B07H8Q3J9Y",
                      name: "Amazon Echo (3rd generation)",
                      price: 99.99,
                    },
                    {
                      asin: "B07H8Q4GHL",
                      name: "Amazon Alexa (2nd generation)",
                      price: 199.99,
                    },
                  ],
                  sales: 400,
                  profitSplit: 0.5,
                },
              ],
            },
          ]);

          const newEntry = ref({
            name: "",
            workingCapitalLimit: 0,
            balance: 0,
            stores: [],
          });
          
          const newStore = ref({
            id: 0,
            inventory: [],
            sales: 0,
            profitSplit: 0,
          });

          const newInventoryEntry = ref({
            asin: "",
            name: "",
            price: 0,
          });

          const addEntry = () => {
            dataStructure.value.push({ ...newEntry.value });
            newEntry.value = {
              name: "",
              workingCapitalLimit: 0,
              balance: 0,
              stores: [],
            };
          };

          return {
            dataStructure,
            newEntry,
            newStore,
            newInventoryEntry,
            addEntry,
          };
        },
      }).mount("#app");
    </script>
  </head>
  <body class="bg-indigo-50 h-screen grid place-items-center">
    <div id="app" class="py-16">
      <div
        v-if="false"
        class="h-screen w-screen bg-indigo-50 absolute top-0 left-0 z-10"></div>
      <div>
        <select
          name=""
          class="bg-indigo-600 text-white py-2 px-2 rounded-md hover:bg-indigo-700">
          <option value="">Select a client</option>
          <option
            v-for="entry in dataStructure"
            :key="entry.name"
            :value="entry.name">
            {{ entry.name }}
          </option>
        </select>
      </div>
      <div class="w-full max-w-lg bg-white rounded-lg shadow-lg p-8">
        <h2 class="text-xl font-semibold mb-4">Add new client entry</h2>
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium text-gray-700"></label>
            Name:
          </label>
          <input
            type="text"
            v-model="newEntry.name"
            id="name"
            name="name"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
        </div>
        <div class="mb-4">
          <label
            for="workingCapitalLimit"
            class="block text-sm font-medium text-gray-700">
            Working Capital Limit:
          </label>
          <input
            type="number"
            v-model="newEntry.workingCapitalLimit"
            id="workingCapitalLimit"
            name="workingCapitalLimit"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
        </div>
        <div class="mb-4">
          <label for="balance" class="block text-sm font-medium text-gray-700">
            Balance:
          </label>
          <input
            type="number"
            v-model="newEntry.balance"
            id="balance"
            name="balance"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
        </div>

        <h2 class="text-xl font-semibold mb-4">Add store to client entry</h2>
        
        <button
          @click="addEntry"
          class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700">
          Add Entry
        </button>
        <div class="mt-4 max-w-full overflow-hidden">
          <pre>
            {{ JSON.stringify(dataStructure, null, 1) }}
          </pre>
        </div>
      </div>
    </div>
  </body>
</html>
