<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profitzon Create Form</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <style>
      ::-webkit-scrollbar {
        width: 0.5rem;
      }
      ::-webkit-scrollbar-track {
        background-color: #eef2ff;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: #94a3b8;
        border-radius: 10px;
      }
    </style>
    <script type="module" defer>
      import { createApp, ref } from 'vue';

      const app = createApp({
        setup() {
          const data = ref([]);
          const formEntry = ref({
            name: '',
            workingCapitalLimit: undefined,
            balance: undefined,
            stores: [],
          });
          const storeEntry = ref({
            inventory: [],
            sales: undefined,
            profitSplit: undefined,
          });
          const inventoryEntry = ref({
            asin: '',
            name: '',
            price: undefined,
          });
          const isStoreFormOpen = ref(false);
          const isInventoryFormOpen = ref(false);

          function addFormEntry() {
            data.value = [...data.value, formEntry.value];
            formEntry.value = {
              name: '',
              workingCapitalLimit: undefined,
              balance: undefined,
              stores: [],
            };
          }

          function addStore() {
            isStoreFormOpen.value = true;
          }

          function updateStore() {
            formEntry.value.stores = [
              ...formEntry.value.stores,
              storeEntry.value,
            ];
            storeEntry.value = {
              inventory: [],
              sales: undefined,
              profitSplit: undefined,
            };
            isStoreFormOpen.value = false;
            console.log(formEntry.value);
          }

          function addInventory() {
            isInventoryFormOpen.value = true;
          }

          function updateInventory() {
            storeEntry.value.inventory = [
              ...storeEntry.value.inventory,
              inventoryEntry.value,
            ];
            inventoryEntry.value = {
              asin: '',
              name: '',
              price: undefined,
            };
            isInventoryFormOpen.value = false;
          }

          return {
            data,
            formEntry,
            storeEntry,
            inventoryEntry,
            isStoreFormOpen,
            isInventoryFormOpen,
            addFormEntry,
            addStore,
            updateStore,
            addInventory,
            updateInventory,
          };
        },
      });
      app.mount('#app');
    </script>
  </head>
  <body class="bg-indigo-50 h-screen grid place-items-center">
    <div id="app" class="flex flex-col gap-8 py-16">
      <div
        v-if="false"
        class="h-screen w-screen bg-indigo-50 absolute top-0 left-0 z-10"
      ></div>
      <div
        class="w-full max-w-lg bg-white rounded-lg shadow-lg flex flex-col gap-4 p-8"
      >
        <h2 class="text-xl font-semibold">Add new client entry</h2>
        <div class="flex flex-col">
          <input type="text" v-model="formEntry.name" placeholder="Name" />
          <input
            type="number"
            v-model="formEntry.workingCapitalLimit"
            placeholder="Working Capital Limit"
          />
          <input
            type="number"
            v-model="formEntry.balance"
            placeholder="Balance"
          />
          <button @click="addStore" v-if="!isStoreFormOpen">Add Store</button>
        </div>
        <div v-if="isStoreFormOpen" class="flex flex-col">
          <h2 class="text-xl font-semibold">Add store to client entry</h2>
          <input type="number" v-model="storeEntry.sales" placeholder="Sales" />
          <input
            type="number"
            v-model="storeEntry.profitSplit"
            placeholder="Profit Split"
          />
          <button @click="addInventory" v-if="!isInventoryFormOpen">
            Add Inventory Item
          </button>
          <button @click="updateStore" v-if="!isInventoryFormOpen">
            Update Store
          </button>
        </div>
        <div v-if="isInventoryFormOpen" class="flex flex-col">
          <h2 class="text-xl font-semibold">Add inventory to store</h2>
          <input type="text" v-model="inventoryEntry.asin" placeholder="ASIN" />
          <input type="text" v-model="inventoryEntry.name" placeholder="Name" />
          <input
            type="number"
            v-model="inventoryEntry.price"
            placeholder="Price"
          />
          <button @click="updateInventory">Update Inventory</button>
        </div>

        <button
          class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700"
          @click="addFormEntry"
        >
          Add Entry
        </button>
        <div
          class="w-full max-w-lg bg-white rounded-lg shadow-lg flex flex-col gap-4 p-8"
        >
          <div class="mt-4 max-w-full overflow-hidden">
            <pre class="">{{ JSON.stringify(data, null, 1) }}</pre>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
